*{
    margin: 0%;
    padding: 0%;   

    h2{
        font-size: 5em;
    }   
}

nav{
    height: auto;

    a{  
        margin-top: 1em;
        
    }
    img{
        width: 15vw;
        margin-left: 32vw;
    }
}
#footer{
    height: 10vw;
    margin-bottom: 8em;
    .tarjetas{
        margin-left: 5em;
        display: flex;
    flex-direction: column;
    }
    
    img{
        width: 5vw;
        padding: 1em;
    }
}
.carta{
    height: 21vw;
    width: 18vw;
    background-color: rgb(230, 224, 197);
    #cards{
    width: 90%;
    height: 90%;
    margin: 1em;
}
}

.texto{
    text-align: center;
    font-size: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carta{
    grid-column: span 2;
margin-left: 5rem;
    
}

.catalogo{
    display: grid;
    gap: 4rem;
    grid-auto-flow: dense   ;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}